# This file exemplifies how to write the RELEASE.local file

SUPPORT=/opt/epics/synApps-lnls-R1-0-0/support
EPICS_BASE=/opt/epics/base
AUTOSAVE=$(SUPPORT)/autosave-R5-9
SNCSEQ=$(SUPPORT)/seq-2-2-6
SSCAN=$(SUPPORT)/sscan-R2-11-1
CALC=$(SUPPORT)/calc-R3-7
ASYN=$(SUPPORT)/asyn-R4-33
BUSY=$(SUPPORT)/busy-R1-7
MOTOR=$(SUPPORT)/motor-R6-10-1
GALIL=/opt/epics/Galil-3-0/3-6
IPAC=$(SUPPORT)/ipac-2-15
